@page
@model ThAmCo.Events.Pages.GBList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GuestBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-EventId="@item.EventId">Edit</a> |
                    <a asp-page="./Details" asp-route-EventId="@item.EventId">Details</a> |
                    <a asp-page="./Delete" asp-route-EventId="@item.EventId">Delete</a>


               @*  @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | 
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })  *@
            </td>
        </tr>
}
    </tbody>
</table>
