@page
@model ThAmCo.Events.Pages.GBList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestBooking[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GuestBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                 


                 @Html.ActionLink("Edit", "Edit", new {  id = item.EventId }) | 
                @Html.ActionLink("Details", "Details", new {  id=item.GuestId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EventId  }) 
            </td>
        </tr>
}
    </tbody>
</table>
