@page
@model ThAmCo.Events.Pages.GuestList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>

   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.GuestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.GuestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.GuestContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.GuestContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Guest.GuestId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
